:root {
  --cs-primary: blue;
  --cs-secondary: red;
  --cs-tertiary: green;
  --cs-variance: 20;
}

body {
  color: cs(-1, primary);
  background-color: cs(1, secondary);
  border-color: cs(2, tertiary);
}
